<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  
  <targets>
    <target name="exceptions" xsi:type="File"
       layout="${longdate} ${logger} ${message}${exception:format=ToString}"
       fileName="D:\RestaurantAPILogs\nlog-all-exceptions-${shortdate}.log"
       keepFileOpen="true"
       encoding="utf-8" />
    
    <target name="file" xsi:type="File"
        layout="${longdate} ${logger} ${message}${exception:format=ToString}"
        fileName="D:\RestaurantAPILogs\nlog-all-${shortdate}.log"
        keepFileOpen="true"
        encoding="utf-8" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="file" />
    <logger name="RestaurantAPI.*" minlevel="Error" writeTo="exceptions" />
  </rules>
</nlog>